.Terms {
    margin-top: 20px;
}

.Terms__title {
    font-size: 16px;
}

.Terms__text {
    resize: none;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 4px 16px #cccccc;
    border: none;
    padding: 20px;
    margin: 0 20px;
}