.Control-panel {
  display: flex;

  margin-bottom: 20px;
}

.Control-panel__container {
  margin: 0 auto;


}

.Control-panel__button {
  padding: 10px 15px;
  margin: 0 20px;
  border: none;
  border-radius: 5px;
  background: #0069d9;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 4px 16px #cccccc;
  outline: none;
  font-size: 20px;
}

.Control-panel__button:hover {
  background: #08478a;
}